{% extends 'base.html' %}

{% block title %}Create a new list{% endblock title %}
{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
