{% extends 'base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}
{% block content %}
    <div>
        <h1>My lists</h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <a href="{% url 'todo_item_create' %}">Create a new task</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for lists in lists.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' lists.id %}">{{ lists.name }}</a>
                        </td>
                        <td>{{ lists.items.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
