{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% comment %} <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Noto+Serif+Georgian:wght@100;200;300;400&display=swap"
              rel="stylesheet"> {% endcomment %}
    </head>
    <body>
        <nav>
            {% comment %} <a href="{% url 'todo_list_list' %}">Todo Lists</a> {% endcomment %}
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            {% comment %} <a href="{% url 'create_list' %}">Create List</a> {% endcomment %}
            {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
            {% comment %} <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <p>Made with love by Sam Siskind</p>
        </footer>
    </body>
</html>
